*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}
body{
    font-family: "Poppins", sans-seri;  
}

/* Navigation */
/*.nav_container{
    position: relative;
    width: 1424px;
    height: 1000px;
    background: #FFFFFF;
    border-radius: 60px;
}*/
.wrapper{
 max-width: 1200px;
 margin:0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 83px;;
}
nav ul{
    display: flex;

}
nav .logo{
font-family: "Poppins", sans-seri;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 42px;
/* identical to box height */


color: #22262A;



}
.nav_items li{
    list-style: none;
    margin-right: 50px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
   
  .Catory_section{
    margin-bottom: 60px;
  }
  .left_image{
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom:20px;

  }
  .higher_image {
    margin:10px;
  }
  .right_image{
    margin-left: 0px;
    margin-right: 97px;
  }
  
  .header-container{
      margin-top: 80px;
      flex-basis: 50%;
    min-width: 300px;
    margin-top: 433px;
    padding-left: 711px;
    
  }
  .header-container h1{
    font-size: 80px;
  }  
  .btn {
    display: inline-block;
    background: #22262A;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
  }
  
  .btn:hover {
    background: black;
  }
  .header {
    position: absolute;
    width: 1477px;
    height: 745px;
    left: -1px;
    top: 83px;
    
    background-image: url("../assets/1\ 1.png");
  }
.background_image{
    
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.col-4:hover {
  transform: translateY(-5px);
}



.titletext::after {
  content: ".";
  background-color: #ff523b;
  width: 80px;
  height: 5x;
  font-size: 5px;
  line-height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
  color: #22262A;
  text-decoration: solid;
}

.abovefooter{
    background-image: url(../assets/17\ 1.png);
}
.abovefooter-container{
  margin-top: 80px;
  flex-basis: 50%;
min-width: 300px;
margin-top: 433px;
padding-right: 711px;
}
.abovefooter-container h1{
  font-size: 80px;
}